* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 4% 5%;
    align-items: center;
    background-color: white;
    height: 100px;
}

ul {
    display: inline-flex;
    list-style-type: none;
    gap: 30px;
}

ul li a {
    text-decoration: none;
    color: black;
}

.remaining-box {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-right: 5%;
}

.left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
    width: 50%;
    padding: 5%;
}

.left p {
    font-size: 1.2em;
}

.under {
    /* padding: 2%; */
    align-items: center;
}

.under form {
    display: flex;
    gap: 2%; /* spacing between input and button */
    align-items: center; /* optional: vertically centers them */
}

.under input {
    flex: 1; /* optional: makes input expand to available space */
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    height: 40px;
    border-radius: 5px;
}

.under button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    height: 40px;
    background-color: rgb(136, 152, 234);
    color: white;
    border: rgb(136, 152, 234) solid 2px;
    border-radius: 5px;
    display: flex
}

.under button:hover {
    background-color: transparent;
    color: rgb(136, 152, 234);
    border: 2px solid rgb(136, 152, 234);
    transition: .3s ease-in-out;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/illustration-1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

body, html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    display: flex;
    flex-direction: column;
}
.curve-desktop {
    width: 100%;
    height: auto;
}

.second-section {
    padding: 5%;
    background-color: #f8f8ff;
    height: 80vh;
    display: flex;
}

.sec2-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('images/illustration-2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.sec2-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 4%;
}

.sec2-right h1 {
    font-size: 2.2em;
}

.p1,.p2 {
    width: 75%;
    font-size: 0.95em;
    text-align: right;
}

.link a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7%;
    width: 100%;
    color: rgb(97, 160, 152);
}

.testimonial-card {
    width: 70%;
    height: 50%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 5%;
}

.quotes {
    width: 20px;
    height: 50px;
}

.testimonial-card p {
    color: black;
    line-height: 2;
}

.avatar {
    width: 70%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5%;
}

.avatar img {             /* Fill the parent container */
    width: 60px;
    aspect-ratio: 1 / 1;        /* Maintains a square */
    border-radius: 50%;         /* Makes it a circle */
    object-fit: cover;          /* Keeps image inside circle */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.desc {
    display: flex;
    flex-direction: column;
    gap: 2%;
    font-size: .7em;
}

.early-access {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(87, 89, 133);
}

.part1 {
    padding: 5%;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.part1 h1 {
    font-size: 1.8em;
    color: white;
}

.part1 p {
    width: 80%;
    color: white;
}

.part2 {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.last-form {
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding: 5%;
}

.last-form input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    width: 400px;
    height: 40px;
    border-radius: 5px;
}

.last-form button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    height: 40px;
    background-color: rgb(136, 152, 234);
    color: white;
    border: 2px solid rgb(136, 152, 234);
    border-radius: 5px;
}

.last-form button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transition: .3s ease-in-out;
}

footer {
    width: 100%;
    height: 100vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stuff {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    gap:5%;
    list-style-type: none;
}

.f1 {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.f1 a {
    text-decoration: underline;
    color: black;
}

.f2 {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.f2 a {
    text-decoration: none;
    color: black;
}

.f3 {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.f3 a {
    text-decoration: none;
    color: black;
}

.f4 {
    display: flex;
    flex-direction: row;
}

.f4 svg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
}